<p>


Coronavirus Live Updates: Across U.S., Gatherings Are Canceled and Schools Are Closed

Biden and Sanders called on the National Guard to help in the outbreak, 
and the Fed cut rates nearly to zero. 
For the first time, the rest of the world has more cases than China.

Right Now

Turkey said it would shutter bars, night clubs and discos until further notice.
</p>
<i style="color:red; font-size:32px"> 新冠病毒疫情最新消息</i> 



<h1> la Terre sera bientôt inhabitable ... Coronavirus  </h1>

<!-- 
<button (click)="more()"> MORE </button>
<button (click)="less()" [disabled]="diasableLess | async"> LESS </button>
<button (click)="clear()" [disabled]="diasableLess | async"> RESET </button>
-->
<div>


  <span> 
    <h2 style="color:brown;">  {{  count$  | async }}  </h2>
    
    <h2>   </h2>
    Heure : {{updatedAt$ | async | date: "hh:mm:ss"}} 
</span>
   
</div>


<router-outlet></router-outlet>